[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restful = "*"
python-dotenv = "*"
flask-sqlalchemy = "*"
flask-cors = "*"
flask-jwt-extended = "*"
requests = "*"
pyjwt = "~=2.1.0"
datetime = "*"
uuid = "*"
Flask-Migrate = "*"
pytest = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.9"
